.DS_Store
**/.next/
**/node_modules/
**/.vscode/
*.aux
*.fls
*.log
*.lol
*.out
doc/*.pdf
*.synctex.gz
*.toc
*.fdb_latexmk
*.drawio.bkp
out
_minted-technical_documentation
.cache
.ssh
.vscode-server
.bash_history
.npm
.local
**/__pycache__/
**/.ipython/
**/.pytest_cache/
**/.python_history/
**/__pycache__/
**/.coverage
**/.venv/
**/data/
**logs/